/* Coin flip */
body {
    -webkit-perspective: 800px;
}
.coin-flip-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    display: flex;
    width: 100%;
    justify-content: center;
    background-color: #4817d4;
}
#coin-flip-title {
    margin-bottom: 2rem;
    font-size: 1.5rem;
    font-weight: bold;
    color: #b3e526;
}
#coin-flip-button {
    display: inline-block;
    color: #4817d4;
    background-color: #b3e526;
    z-index: 30;
    position: relative;
    border: none;
    border-radius: 12px;
    padding: 15px 30px;
    font-weight: bold;
    font-size: 1.1rem;
    cursor: pointer;
    transition: transform ease-in 0.1s, box-shadow ease-in 0.25s;
    box-shadow: 0 2px 25px rgba(179, 229, 38, 0.5);
}
#coin-flip-button:focus {
    outline: 0;
}
#coin-flip-button:before, #coin-flip-button:after {
    position: absolute;
    content: "";
    display: block;
    width: 140%;
    height: 100%;
    left: -20%;
    z-index: -1000;
    transition: all ease-in-out 0.5s;
    background-repeat: no-repeat;
}
#coin-flip-button:before {
    display: none;
    top: -75%;
    background-image: radial-gradient(circle, #b3e526 20%, transparent 20%), radial-gradient(circle, transparent 20%, #b3e526 20%, transparent 30%), radial-gradient(circle, #b3e526 20%, transparent 20%), radial-gradient(circle, #b3e526 20%, transparent 20%), radial-gradient(circle, transparent 10%, #b3e526 15%, transparent 20%), radial-gradient(circle, #b3e526 20%, transparent 20%), radial-gradient(circle, #b3e526 20%, transparent 20%), radial-gradient(circle, #b3e526 20%, transparent 20%), radial-gradient(circle, #b3e526 20%, transparent 20%);
    background-size: 10% 10%, 20% 20%, 15% 15%, 20% 20%, 18% 18%, 10% 10%, 15% 15%, 10% 10%, 18% 18%;
}
#coin-flip-button:after {
    display: none;
    bottom: -75%;
    background-image: radial-gradient(circle, #b3e526 20%, transparent 20%), radial-gradient(circle, #b3e526 20%, transparent 20%), radial-gradient(circle, transparent 10%, #b3e526 15%, transparent 20%), radial-gradient(circle, #b3e526 20%, transparent 20%), radial-gradient(circle, #b3e526 20%, transparent 20%), radial-gradient(circle, #b3e526 20%, transparent 20%), radial-gradient(circle, #b3e526 20%, transparent 20%);
    background-size: 15% 15%, 20% 20%, 18% 18%, 20% 20%, 15% 15%, 10% 10%, 20% 20%;
}
#coin-flip-button:active {
    transform: scale(0.9);
    background-color: #b3e526;
    box-shadow: 0 2px 25px rgba(179, 229, 38, 0.2);
}
#coin-flip-button.animate:before {
    display: block;
    animation: topBubbles ease-in-out 0.75s forwards;
}
#coin-flip-button.animate:after {
    display: block;
    animation: bottomBubbles ease-in-out 0.75s forwards;
}

@keyframes topBubbles {
    0% {
        background-position: 5% 90%, 10% 90%, 10% 90%, 15% 90%, 25% 90%, 25% 90%, 40% 90%, 55% 90%, 70% 90%;
    }
    50% {
        background-position: 0% 80%, 0% 20%, 10% 40%, 20% 0%, 30% 30%, 22% 50%, 50% 50%, 65% 20%, 90% 30%;
    }
    100% {
        background-position: 0% 70%, 0% 10%, 10% 30%, 20% -10%, 30% 20%, 22% 40%, 50% 40%, 65% 10%, 90% 20%;
        background-size: 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%;
    }
}
@keyframes bottomBubbles {
    0% {
        background-position: 10% -10%, 30% 10%, 55% -10%, 70% -10%, 85% -10%, 70% -10%, 70% 0%;
    }
    50% {
        background-position: 0% 80%, 20% 80%, 45% 60%, 60% 100%, 75% 70%, 95% 60%, 105% 0%;
    }
    100% {
        background-position: 0% 90%, 20% 90%, 45% 70%, 60% 110%, 75% 80%, 95% 70%, 110% 10%;
        background-size: 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%;
    }
}
#coin-flip-button:hover {
    cursor: pointer;
}
#coin-flip-button:focus {
    outline: none;
}

#coin {
    position: relative;
    width: 100px;
    height: 100px;
    margin: 0 auto 4rem;
}
#coin div {
    width: 100%;
    height: 100%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
}
.side-a {
    background-image: url('https://upload.wikimedia.org/wikipedia/en/d/d8/British_fifty_pence_coin_2015_reverse.png');
    background-size: contain;
}
.side-b {
    background-image: url('https://upload.wikimedia.org/wikipedia/en/5/52/British_fifty_pence_coin_2015_obverse.png');
    background-size: contain;
}

#coin {
    transition: -webkit-transform 1s ease-in;
    -webkit-transform-style: preserve-3d;
}
#coin div {
    position: absolute;
    -webkit-backface-visibility: hidden;
}
.side-a {
    z-index: 100;
}
.side-b {
    -webkit-transform: rotateY(-180deg);
}

#coin.heads {
    -webkit-animation: flipHeads 3s ease-out forwards;
    -moz-animation: flipHeads 3s ease-out forwards;
    -o-animation: flipHeads 3s ease-out forwards;
    animation: flipHeads 3s ease-out forwards;
}
#coin.tails {
    -webkit-animation: flipTails 3s ease-out forwards;
    -moz-animation: flipTails 3s ease-out forwards;
    -o-animation: flipTails 3s ease-out forwards;
    animation: flipTails 3s ease-out forwards;
}

@-webkit-keyframes flipHeads {
    from { -webkit-transform: rotateY(0); -moz-transform: rotateY(0); transform: rotateY(0); }
    to { -webkit-transform: rotateY(1800deg); -moz-transform: rotateY(1800deg); transform: rotateY(1800deg); }
}
@-webkit-keyframes flipTails {
    from { -webkit-transform: rotateY(0); -moz-transform: rotateY(0); transform: rotateY(0); }
    to { -webkit-transform: rotateY(1980deg); -moz-transform: rotateY(1980deg); transform: rotateY(1980deg); }
}

@keyframes flipHeads {
    from { -webkit-transform: rotateY(0); -moz-transform: rotateY(0); transform: rotateY(0); }
    to { -webkit-transform: rotateY(1800deg); -moz-transform: rotateY(1800deg); transform: rotateY(1800deg); }
}
@keyframes flipTails {
    from { -webkit-transform: rotateY(0); -moz-transform: rotateY(0); transform: rotateY(0); }
    to { -webkit-transform: rotateY(1980deg); -moz-transform: rotateY(1980deg); transform: rotateY(1980deg); }
}
