/* Coin flip */
.coin-flip-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    display: flex;
    width: 100%;
    justify-content: center;
    background-color: #dcffed;
}
#coin {
    margin-bottom: 5rem;
}
#coin-flip-title {
    margin-bottom: 2rem;
    font-size: 1.5rem;
    font-weight: bold;
}
#coin-flip-button {
    display: inline-block;
    color: white;
    background-color: #72ffb7;
    z-index: 30;
    position: relative;
    border: none;
    border-radius: 16px;
    padding: 15px 30px;
}
#coin-flip-button:focus {
    outline: none;
}
.animate-coin {
    animation: flip 2s 1;
}
@keyframes flip {
    0% {
        transform: scale3d(1,1,1) rotateX(0deg);
    }
    50% {
        transform: scale3d(2,2,2) rotateX(3600deg);
    }
    100% {
        transform: scale3d(1,1,1) rotateX(7200deg);
    }
}
.coin-flip-wrapper img {
    max-width:100%;
    display: block;
    position: relative;
    z-index: 0;
}